html {
    height: 100%;
}

body {
    min-width: fit-content;
    font-family: "Avenir", "Avenir Next", "Noto Sans Korean", "Apple SD Gothic Neo", "Helvetica", "Arial", "Malgun Gothic", "\B9D1\C740   \ACE0\B515", "\B9D1\C740\ACE0\B515", "\B3CB\C6C0", "Dotum", "Noto Sans Japanese", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "YuGothic", "Yu Gothic", "\30E1\30A4\30EA\30AA", "Meiryo UI", "Meiryo", sans-serif;
    color: #333;
    background-color: #f0f1f2;
    display: flex;
    flex-direction: column;
    height: 100%;
}

a {
    color: #0034ab;
    transition: all .3s;
}

h1,
h2,
h3 {
    color: #333 !important;
}

i {
    margin-right: 5px;
}

hr {
    margin: 1.2rem 0 !important;
}

.container .box {
    border-radius: 0 !important;
    box-shadow: none !important;
    transition: all .3s;
}

.container .box:hover {
    box-shadow: 0 20px 15px -12px rgba(0, 0, 0, 0.06) !important;
}

.container {
    min-width: 1000px;
}

.header {
    color: #fff;
    background-color: #0034ab;
}

.header a {
    display: block;
    color: #fff;
    opacity: .6;
    transition: all .3s;
}

.header a:hover {
    color: #fff;
    opacity: 1;
}

.header .logo {
    width: 150px;
    margin-right: 80px;
}

.header .logo img {
    display: block;
}

nav.top {
    display: flex;
    align-items: center;
}

nav.top .menu {
    display: flex;
}

nav.top .menu a {
    padding: 30px 40px;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
}

nav.top .menu a.is-active {
    position: relative;
    opacity: 1;
}

nav.top .menu a.is-active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #fff;
}


nav.top .util {
    display: flex;
    margin-left: auto;
    align-items: center;
}

nav.top .util>a {
    padding: 30px 10px;
    font-size: 14px;
    line-height: 1;
}

.is-user a {
    display: block;
    background-color: #fff;
    width: 40px;
    height: 40px;
    padding: 0 !important;
    opacity: 1;
    border-radius: 50%;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-user a:hover {
    color: #000;
}

.contents {
    background-color: #f0f1f2;
    padding: 50px;
}

.contents .container {
    margin-bottom: 50px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 15px;
}

.top-bar .title {
    margin-bottom: 0 !important;
}

.top-bar a {
    font-size: 15px;
}


.make-project {
    position: relative;
    padding: 0 !important;
    text-align: center;
}

.make-project h3 {
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1;
    margin-top: 2rem;
    margin-bottom: .5rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    color: #fff !important;
}

.make-project .image {
    position: relative;
    overflow: hidden;
}
.make-project .image::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    width: 100%;
    height: 50%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 0%, rgba(255, 255, 255, 0) 100%);
}
.make-project img {
    display: block;
    transition: transform 1.2s;
}
.make-project:hover img {
    transform: scale(1.1);
}
.make-project .buttons {
    padding: 1rem 0;
}
.make-project .button {
    border-radius: 0;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    font-size: 11px !important;
}

.box.dash-board {
    min-height: 240px;
}

.project-list li {
    position: relative;
}
.project-list li a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 2.5rem;
    border-radius: 3px;
    transition: all .3s;
}

.project-list li a:hover {
    background-color: #f5f5f5;
    color: #000;
}

.project-list li.is-flag .item-name,
.project-list li.is-flag .item-flag {
    color: #2160c4;
}

.project-list li a span {
    display: block;
}

.project-list .item-name {
    margin-right: auto;
    font-size: 14px;
}

.project-list .item-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #babbc6;
    border-radius: 50px;
    width: 35px;
    height: 1.4rem;
    color: #babbc6;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    margin-right: 10px;
}

.project-list .item-author {
    text-align: center;
    margin-right: 10px;
}

.project-list .item-menu {
    position: absolute;
    top: 36px;
    right: 10px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    color: #000;
    text-align: center;
    transition: all .3s;
    transform: translateY(0);
    visibility: hidden;
    opacity: 0;
}
.project-list .item-menu.is-active {
    visibility: visible;
    opacity: 1;
}

.project-list .item-menu a {
    line-height: 1;
    padding: 10px;
}

.project-list .button-item-menu {
    margin-left: 10px;
    padding: 0 .45rem;
    height: 1.5rem;
}
.project-list .button-item-menu i {
    margin: 0;
    transition: transform .2s;
}
.project-list .button-item-menu.is-active i {
    transform: rotate(180deg);
}

.empty-message {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: #aaa;
}

/* user-menu */
.user-menu {
    position: absolute;
    top: 65px;
    right: 0;
    width: 200px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    color: #000;
    text-align: center;
    padding: 20px;
    transition: all .3s;
    transform: translateY(0);
    visibility: hidden;
    opacity: 0;
}

.user-menu.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(5px);
}

.user-menu .buttons {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.user-menu .buttons:last-child {
    margin-bottom: 0;
}

.user-menu a {
    width: 100%;
    color: #000;
    font-size: 13px;
    margin: 5px 0 0 !important;
}

.user-menu a:hover {
    color: #000;
}

.user-menu .user-info {
    font-size: 12px;
}

.user-menu .user-info dt {
    font-size: 17px;
}

.user-menu .user-info dd {
    color: #888;
}

/* login */
.page-login {
    background: url(../img/login_bg.jpg) center center;
    background-size: cover;
}

.page-login .container .box {
    width: 380px;
    margin: 0 auto 10px;
    padding: 50px 40px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1) !important;
}

.page-login h1 {
    font-size: 2.5rem;
    font-weight: 800;
    color: #c9d1da !important;
    line-height: 1;
    margin-bottom: 30px;
}

.page-login .button {
    margin-top: 20px;
}

.page-login .copyright {
    text-align: center;
    font-size: 11px;
    color: rgba(0, 0, 0, 0.3);
}

/* title-bar */
.title-bar {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    height: 30px;
}

.title-bar h2 {
    margin-bottom: 0 !important;
    margin-right: auto;
}

.title-bar .buttons {
    margin-bottom: 0 !important;
}

.title-bar .buttons:last-of-type {
    margin-left: 1rem !important;
}

.title-bar .button {
    margin-bottom: 0 !important;
}

.button .icon {
    margin-right: 5px !important;
}

/* create-project */
.create-project .field-body .control {
    margin-right: 20px !important;
}
.field:not(:first-of-type) {
    margin-top: 20px;
}

.field-body:not(:first-of-type) {
    margin-top: 10px;
}

.field-body .control {
    /* margin-right: 40px; */
}

.field-body .label {
    font-weight: normal;
}

/* share-project */
.share-project .tag {
    display: flex;
    margin-right: 10px;
    width: 30px;
    transition: all .3s;
}

.share-project a:hover .tag {
    background-color: #fff !important;
}

.project-list.is-shared {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.project-info dt {
    font-size: 1.2rem;
    color: #000;
}

.project-info dd.desc {
    font-size: 14px;
    color: #999;
}

.project-info dd.etc {
    font-size: 13px;
    margin-bottom: 1.5rem;
    margin-top: 10px;
}

.project-info dd.etc span {
    margin-right: 20px;
}

/* compare-project */
.compare-project img {
    display: block;
    margin: 0 auto;
}

.compare-project .table {
    font-size: 12px;
}

.compare-project .table td {
    vertical-align: middle;
}

.compare-project .table td .button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

/* left menu */
.menu-label:not(:first-child) {
    margin-top: 2rem !important;
}
.menu-list a {
    font-size: 15px;
}
.menu-info {
    font-size: 12px;
}
.menu-info .title {
    font-size: 15px;
    margin-bottom: 10px !important;
}
.menu-info .desc {
    margin-bottom: 20px;
    color: #999;
}
.menu-info .table td {
    border-color: #eee;
    color: #555;
}
.menu-info .table td:nth-of-type(2) {
    text-align: center;
    color: #999;
}
.menu-info .value {
    color: #000;
}
.project-menu {
    flex: none !important;
    width: 300px !important;
}
.project-menu.is-fixed {
    position: fixed;
    top: 20px;
}
.project-body.is-fixed {
    margin-left: 300px;
}

/* table */
.table th,
.table td {
    font-size: 12px;
}

.table th {
    background-color: #f6f6f6;
}


.title .info {
    cursor: pointer;
}

.field-body .field {
    margin-top: 0;
}
.field-body .control {
    margin-right: 0;
}

.property h3 {
    border-bottom: 1px solid #000;
    line-height: 1.5rem;
}
.property-item {
    margin-bottom: 1rem;
}
.property-item .item-body {
    display: flex;
    align-items: center;
}
.property-item .item-body .item-title {
    width: 160px;
    font-size: 14px;
}
.property-item .item-body .input-list {
    display: flex;
}
.property-item .item-body .input-list input:not([type=checkbox]):not([type=radio]) {
    margin-right: .5rem;
    height: 1.8rem;
    font-size: 15px;
}
.property-item .help {
    padding-left: 160px;
    font-size: 11px;
    color: #999;
}
.property-item > .is-fullwidth + .help {
    padding-left: 0 !important;
}
.property-item > .is-fullwidth .table.is-fullwidth {
    table-layout: fixed;
    margin-right: 0;
}
.property-item > .is-fullwidth .table input {
    width: 100%;
}

.property .apply-table {
    display: flex;
    align-items: center;
}
.property .apply-table .table {
    /* width: 30%; */
    margin-right: 30px;
    margin-bottom: 0;
}
.property .apply-table .table .btn {
    border: 0;
    vertical-align: middle;
}
.property .apply-table .table .btn .button {
    padding: .45rem;
    font-size: 11px;
    height: 1.5rem;
}
.property .apply-table .table .btn .button i {
    margin: 0;
}
.help.p0 {
    padding: 0;
}

/* condition */
.condition-list {
    display: flex;
    margin: -10px;
    flex-wrap: wrap;
}
.condition-list .condition-item {
    width: calc(33.3% - 20px);
    margin: 10px;
    transition: opacity .2s;
    border: 1px solid #ddd;
    /* background-color: #f1f1f1; */
}
.condition-list.is-xev .condition-item {
    width: 100%;
}
.condition-list.is-xev .condition-item img {
    width: auto;
}
.condition-list .condition-item.is-false {
    opacity: .4;
}
.condition-list .condition-item > label {
    width: 100%;
    background-color: #f6f6f6;
    padding: .5rem 1rem;
    color: #000;
    font-weight: 600;
    font-size: 14px !important;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 2.5rem;
    margin-bottom: 1rem;
}
.condition-list .condition-item > label input {
    margin-right: 5px;
}
.condition-list .condition-item .field {
    padding: 0 1rem;
}
.condition-list .condition-item .field label {
    display: inline-block;
    font-size: 13px;
}
.condition-list .condition-item .field label:not(:first-of-type) {
    margin-top: 1rem;
}
.condition-list .condition-item .help {
    color: #999;
    font-size: 11px;
    padding: 1rem;
}


/* result */
.result .graph-list {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.result .graph-list li {
    width: calc(50% - 20px);
    border: 1px solid #eee;
    text-align: center;
    margin: 10px;
    padding: 1.5rem;
}

/* filter */
.is-filter {
    position: relative;
}
.is-filter .button:last-of-type {
    margin-right: 0 !important;
}

.filter-menu {
    position: absolute;
    top: 34px;
    right: 0;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.06);
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    color: #000;
    text-align: center;
    transition: all .3s;
    transform: translateY(0);
    visibility: hidden;
    opacity: 0;
}
.filter-menu.is-active {
    visibility: visible;
    opacity: 1;
}
.filter-menu a {
    display: block;
    line-height: 1;
    font-size: 13px;
    color: #777;
    padding: 8px 18px;
}
.filter-menu a:hover {
    background-color: #eee;
}
.filter-menu a.is-selected {
    background-color: #0034ab;
    color: #fff;
}

/* pagination */
.project-list+.pagination {
    border-top: 1px solid #eee;
    margin-top: 10px;
    padding-top: 10px;
}

.compare-button a {
    font-size: 11px !important;
}

/* modal */
.modal-content {
    width: 1000px !important;
}

.modal-detail .modal-card {
    width: 1100px;
}
.modal-card-title ul {
    display: flex;
    font-size: 12px;
    align-items: center;
    margin-top: 10px;
}
.modal-card-title ul li {
    margin-right: 10px;
    padding-right: 10px;
    color: #555;
    border-right: 1px solid #ccc;
}
.modal-card-title ul li:last-of-type {
    border: none;
}
.modal-card-body img {
    display: block;
    margin: 0 auto;
}
.modal .table .subject {
    background-color: #f6f6f6;
    text-align: left;
}
.modal .table td {
    text-align: center;
}
.modal-card-foot {
    justify-content: center !important;
}

.modal-info .images {
    display: flex;
}
.modal-info img {
    width: 200px;
}
.modal-info dl {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-left: 2px solid #000;
    padding-left: 20px;
    margin-left: 20px;
}
.modal-info dt {
    font-weight: 600;
    color: #000;
}
.modal-info dd {
    font-size: 14px;
}

.modal-data-load .modal-card {
    width: 1000px;
}

.parameter-screen {
    height: 500px;
}
.parameter-screen > .column > div {
    border: 1px solid #ddd;
    height: 100%;
}
.parameter-list .category,
.parameter-content .content-title{
    position: sticky;
    top: 0;
    background-color: #eee;
    padding: 5px 10px;
    font-size: 12px;
    color: #999;
}
.parameter-list li:first-of-type a {
    border-top: 1px solid #eee;
}
.parameter-list a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.parameter-list a:hover {
    background-color: #f6f6f6;
}
.parameter-list span {
    font-size: 13px;
    line-height: 1;
    margin: 0 !important;
    color: #999;
}
.parameter-list .title {
    margin-right: auto !important;
    color: #333;
}
.parameter-list span:not(.title) {
    margin-left: 15px !important;
}
.parameter-content {
    position: relative;
    overflow-y: scroll;
}
.parameter-content hr {
    margin: 10px 0 !important;
}
.parameter-content .data {
    padding: 20px;
}
.parameter-content .data table .name {
    background-color: #f6f6f6;
}
.parameter-content .raw {
    padding: 20px;
}
.parameter-content .raw h3 {
    margin: 0;
    font-size: 13px;
    line-height: 1;
    margin-bottom: 1rem;
}
.parameter-content .raw-data {
    font-size: 12px;
    margin-bottom: 20px;
    color: #888;
}
.parameter-content .buttons {
    position: sticky;
    bottom: 0;
    border-top: 1px solid #ddd;
    background-color: #fff;
    padding: 10px;
}
.parameter-content .buttons .button {
    margin-bottom: 0;
}

.modal-data-save .parameter-screen,
.modal-data-import .parameter-screen {
    border: 1px solid #ddd;
    height: auto;
}


/* footer */
.footer {
    background-color: #fff !important;
    font-size: 12px;
    padding: 1.5rem 1.5rem 3rem !important;
    color: #999;
    margin-top: auto;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .container img {
    display: block;
    width: 170px;
    height: auto;
}

.hero-foot .container {
    display: flex;
    font-size: 11px;
    justify-content: space-between;
}

.hero-foot .container img {
    height: 20px;
}

.buttons.is-between {
    justify-content: space-between;
}

.progress-bar {
    position: fixed;
    bottom: -20px;
    right: 20px;
    width: 330px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, transform 1s;
}
.progress-bar.is-active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-40px);
}

.progress-bar .box {
    border-radius: 5px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.progress-bar dt {
    font-size: 13px;
    font-weight: 600;
    color: #000;
}
.progress-bar dd {
    font-size: 11px;
    color: #999;
}

.table-list input.is-small {
    width: 40px;
    text-align: center;
}
.table-list .table caption {
    text-align: left;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 10px;
}

.checkbox {
    display: flex !important;
    align-items: center;
}
.checkbox input {
    margin-right: 5px;
}

.table th {
    line-height: 1.2;
}

.xev-config img {
    padding: 1rem 2rem;
    margin: 1rem 0;
    border: 1px solid #eee;
}

.suspension-popup {
    position: absolute;
    display: none;
    /* bottom: 120px; */
    /* right: 30px; */
    z-index: 99;
}
.suspension-popup img {
    border-radius: 5px;
    display: none;
}